body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather',serif;
    color: #40514E;
}
/*
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  */
 
.btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    margin: 2.8rem;
    background-color: #71A95A;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    outline: 0;
    border: 2px solid transparent;
  }
  
  .btn:hover {
    background: #FFFFFF;
    color: #71A95A;
    border: solid #71A95A 2px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
  }
.Dhruv{
    width: 150px;
    height:150px;
}
h1{
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-family: 'sacramento',cursive;
    font-size: 562.5%;
}
hr
{
    border: dotted #3cb0fd 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat',sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
}

.skill-row{
    width:50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.CP{
    width:25%;
    float: left;
    margin-right: 30px;
}
.WebDevelopment{
    width:25%;
    float: right;
    margin-left: 30px;
}
div{
    background-color: #D1FFF3;
    margin-left: 0px;
    margin-right: 0;

}
.top-container
{
background-color: #E4F9F5;
position: relative;
padding-top: 100px;
}
.middle-container
{
   margin: 0px 0;
}
.bottom-container
{
    color: #66BFBF;
    padding: 50px 0 20px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.top-cloud{
    position:absolute;
    right: 300px;
    top: 40px;
}
a{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: palevioletred;
}
.intro{
    width: 30%;
    margin: auto;
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}
.copyright{
    color: #2d8787;
    font-size: 0.75rem;
    padding: 20px 0;
}